@use 'k-scaffold' as k;

@mixin all {
  @include k.variables;
  // Customize your variables here
  --checkColor: rgb(128, 50, 31);
  --checkContent: "x";
}

@mixin dark {
  @include k.darkMode;
  // Customize your darkmode variable states and styling here.
  --checkColor: rgb(128, 50, 31);
  --checkContent: "x";
}